#avatar-img {
    width: 400px;
    float: left;
}

.intro-section {
    background-color: var(--sectionColour);
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    #avatar-img {
        width: 75%;
    }

    .intro-section {
        width: 100%;
    }
}