#avatar-img {
    float: left;
    width: 300px;
}

.intro-section {
    /* background-color: var(--sectionColour); */
    width: 800px;
    height:250px;
    margin: 0 auto;
}

.note-section {
    /* background-color: var(--sectionColour); */
    width: 800px;
    height:250px;
    margin: 0 auto;
}


/* @media screen and (max-width: 900px) {
    #avatar-img {
        width: 75%;
    }

    .intro-section {
        width: 100%;
    }

    .nav-bar-div {
        width: 80%;
    }
} */