#avatar-img {
    width: 200px;
    float: left;
}

.intro-section {
    /* background-color: var(--sectionColour); */
    width: 800px;
    height:250px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    #avatar-img {
        width: 75%;
    }

    .intro-section {
        width: 100%;
    }
}