.gif-div {
    width:400px;
    height:400px;
    /* height:0; */
    /* padding-bottom:61%; */
    position:relative;
    float: left;
    margin: 0 auto;
}

.projects-section {
    width: 800px;
    margin: 0 auto;
}

.all-projects {
    width: 800px;
    /* height: 200px; */
    margin: 0 auto;
}

.all-projects h1 a {
    text-decoration: none;
    color: rgb(105, 0, 190);
}

.all-projects a:hover {
    color: rgba(124, 0, 207, 0.664);
}

.snake-project {
    height: 170px;
}

.snake-project img {
    width: 180px;
    float: left;
    margin: 5px;
}

/* .snake-project img:hover {
    border: 1px solid;
} */

.network-project img {
    width: 150px;
    float: left;
    margin: 5px;
}

/* .network-project img:hover {
    border: 1px solid;
} */

.network-project {
    height: 150px;
}

.msg {
    text-align: center;
    color: rgb(105, 0, 175);

}

.compiler-project {
    height: 214px;
}

.compiler-project img {
    float: left;
    margin: 5px;
    width: 230px;
    height: 165px;
}

/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

    width: 750px;
    margin: 0 auto;
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(137, 0, 250);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 80px;
  }

  .one {
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(162, 31, 173) , rgb(244, 206, 255));
    background-image: url("../images/projects_grid_images/battlesnake.jpg");
    color: rgb(137, 0, 250);
    font-size: medium;
  }

.item-span {
    background-color: aliceblue;
} */

/* @media screen and (max-width: 800px) {
    .projects-section {
        width: 50%;
    }

    .gif-div {
        width: 50%;
        height: 50%;
    }
} */